body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    background-color: #E3D2C8;
    color: #333;
    width: 100vw;
    height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p {
    font-style: normal;
    margin: 0;
}

button {
    cursor: pointer;
    border: 0px;
}

input {
    border-radius: 30px;
    width: 100%;
    height: 2rem;
    padding: 1rem;
    border: 1px solid #000000;
}

select {
    border-radius: 30px;
    width: 100%;
    padding: 1rem;
    border: 1px solid #FF4F0E;
    background-color: #E3D2C8;
    font-size: 1rem;
}